@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Name"]</p>

<address>
    <a href="alicesophiakoch@gmail.com">Contact email for more information</a>
</address>
